{% extends 'base.html.twig' %}

{% block title %}New AcmeParent{% endblock %}

{% block body %}
    <h1>Create new AcmeParent</h1>

    {{ include('acme_parent/_form.html.twig') }}

    <a href="{{ path('acme_parent_index') }}">back to list</a>
{% endblock %}