{% extends 'base.html.twig' %}

{% block title %}AcmeParent{% endblock %}

{% block body %}
    <h1>
        AcmeParent
        <span class="btn-group float-right">
            <a class="btn btn-lg btn-warning" href="{{ path('acme_parent_edit', {'id': acme_parent.id}) }}">edit</a>
            <a class="btn btn-lg btn-primary" href="{{ path('acme_parent_index') }}">back to list</a>
        </span>
    </h1>
    <hr>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ acme_parent.id }}</td>
        </tr>
        <tr>
            <th>FieldPA</th>
            <td>{{ acme_parent.fieldPA }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}