{% extends 'base.html.twig' %}

{% block title %}New Acme{% endblock %}

{% block body %}
    <h1>Create new Acme</h1>

    {{ include('acme/_form.html.twig') }}

    <a href="{{ path('acme_index') }}">back to list</a>
{% endblock %}